@use "@/styles" as *;

.right {
  @include size(100%);
  @include flex(column, center, center);
  padding: 50px;
  background: color(bg-muted);
}

.form {
  @include flex(column, center, center);
  width: 100%;

  &__logo {
    @include flex(row, center, center, 10px);
    height: 50px;
    margin-bottom: 40px;

    &-icon,
    &-text {
      height: 100%;
    }
  }

  &__title {
    color: color(text-primary);
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 20px;
  }

  &__input {
    width: 100%;
    padding: 10px 40px 10px 0;
    border: none;
    border-radius: 0;
    background: transparent;
    color: color(text-primary);
    border-bottom: 1px solid color(border-default);
    margin-bottom: 30px;

    &::placeholder {
      color: color(text-placeholder);
    }

    &:focus {
      border-bottom-color: color(border-focus);
      outline: none;
    }
  }

  /* PASSWORD WRAPPER */
  &__password {
    position: relative;
    width: 100%;
  }

  &__password-toggle {
    position: absolute;
    right: 0;
    top: 4px;
    @include flex(row, center, center);
    padding: 6px;
    border: none;
    background: transparent;
    cursor: pointer;

    color: color(text-placeholder);
    transition: color 0.2s ease;

    &:hover {
      color: color(primary-solid);
    }
  }

  &__error {
    margin-top: 10px;
    color: color(error);
  }

  &__forgot {
    z-index: 10;
    width: 100%;
    color: color(text-secondary);
    font-size: 12px;
    text-align: right;
    cursor: pointer;
    margin-top: -20px;

    &:hover {
      color: color(primary-hover);
      text-decoration: underline;
    }
  }

  &__btn {
    @include button-base(primary, large, round);
    width: 100%;
    margin-top: 40px;
  }

  &__or {
    position: relative;
    width: 50%;
    margin: 20px 0;
    color: color(text-secondary);
    font-size: 12px;
    text-align: center;

    &::before,
    &::after {
      position: absolute;
      top: 50%;
      width: 40%;
      height: 1px;
      background-color: color(border-muted);
      content: "";
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }

  &__google {
    display: flex;
    align-items: center;
    gap: 10px;
    color: color(text-secondary);
    font-size: 14px;
    cursor: pointer;
    user-select: none;

    &:hover {
      color: color(primary-solid);
    }

    svg {
      @include size(20px);
    }
  }
}
