services:
  backend:
    build: ./backend
    container_name: backend
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
    depends_on:
      - mongo
      - redis

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "80:80"
    env_file:
      - ./frontend/.env
    depends_on:
      - backend

  mongo:
    image: mongo:7
    container_name: mongo
    volumes:
      - mongo_data:/data/db

  redis:
    image: redis:7-alpine
    container_name: redis

volumes:
  mongo_data:
