@use "@/styles" as *;

.overlay {
  position: fixed;
  inset: 0;

  @include flex(row, center, center);

  padding: 16px;
  background: color(bg-overlay);
  z-index: 999;

  > div {
    width: 100%;
    display: flex;
    justify-content: center;
    animation: fadeUp 0.2s ease-out forwards;

    @keyframes fadeUp {
      from {
        opacity: 0;
        transform: translateY(6px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}
