@use "@/styles/variables" as *;

/* ------------ Global Reset ------------ */
* {
  margin: 0;
  box-sizing: border-box;
  // -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
  color-scheme: light dark;
}

body {
  background-color: color(bg-default);
  color: color(text-primary);
  font-size: 1.4rem;
  font-family: $font-primary;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  overflow: visible;

  > * {
    flex: 1;
    min-height: 0;
  }
}

/* ------------ Reset styles for common elements ------------ */
a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}

input {
  color: color(text-secondary);
  background-color: transparent;
  outline: none;
  padding: 0;
}

select {
  outline: none;
}

hr {
  border: none;
  height: 0.5px;
  background: color(border-muted);
}

/* ------------ Global Custom Scrollbar ------------ */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #c1c1c1 transparent;
}

/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #9b9b9b;
}

/* ------------ Fix autofill color ------------ */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: color(text-primary);
  caret-color: color(text-primary);
  transition: background-color 9999s ease-in-out 0s;
}
