@use "@/styles" as *;
@use "sass:list";

.calendar {
  /* ================= CONFIG ================= */
  --hour-row-height: 8em;
  width: 100%;
  max-width: 100em;
  min-width: 80em;

  /* ================= Header ================= */
  .header {
    padding: 1.5em 2em;
    border: 0.1em solid color(border-default);
    border-radius: 0.8em;
    background: color(bg-paper);
    box-shadow: var(--shadow-sm);
    margin-bottom: 2em;
    @include flex(row, space-between, center);

    &__nav {
      border-radius: 0.4em;
      overflow: hidden;
      @include flex(row, space-between, center, 0.1em);

      &-btn {
        font-size: 1.4em;
        @include flex(row, center, center);
        @include button-base(primary, large, round);
        @include size(2.4em);
        padding: 0;
        border-radius: 0;

        &.today {
          width: 6em;
        }
      }
    }

    &__date {
      font-size: 1.8em;
      font-weight: bold;
      color: color(text-primary);
    }

    &__mode {
      display: flex;
      gap: 0.5em;

      &-btn {
        @include button-base(default, large, medium);

        &.active {
          background: color(primary-solid);
          color: color(text-inverse);
          font-weight: bold;
        }
      }
    }
  }

  /* ================= Week View ================= */
  &__week {
    background: color(bg-muted);
    border: 0.1em solid color(border-muted);
    box-shadow: var(--shadow-sm);
    border-radius: 0.5em;
    overflow: hidden;

    &-header {
      display: grid;
      height: 8em;
      background: color(bg-paper);
      border-bottom: 0.1em solid color(border-muted);
      grid-template-columns: 5em repeat(7, 1fr);
    }

    .day {
      padding: 1.5em 1em;
      text-align: center;
      border-left: 0.1em solid color(border-muted);

      &-label {
        font-size: 1.1em;
        font-weight: bold;
        margin-bottom: 0.4em;
        color: color(text-secondary);
      }

      &-number {
        font-size: 1.6em;
        color: color(text-secondary);
        margin: 0 auto;
        @include flex(row, center, center);

        &.today {
          border: 0.1em solid color(primary-solid);
          background: color(primary-light);
          color: color(primary-solid);
          @include circle(2.2em);
        }
      }
    }

    &-body {
      position: relative;
      display: grid;
      grid-template-columns: 5em repeat(7, 1fr);
      margin-top: 2em;

      .unit {
        &-column {
          transform: translateY(-0.8em);
        }

        &-cell {
          height: var(--hour-row-height);
          @include flex(row, center, top);
        }
      }
    }

    .day {
      &-column {
        position: relative;

        &::after {
          content: "";
          position: absolute;
          inset: 0;
          top: -2em;

          border-left: 0.1em solid color(border-muted);
        }
      }

      &-cell {
        height: var(--hour-row-height);
        border-top: 0.1em solid color(border-muted);
      }
    }
  }

  /* ================= Event ================= */
  .event {
    position: absolute;
    right: 0.4em;
    left: 0.4em;
    z-index: 10;
    padding: 0.8em;
    border-radius: 0.4em;
    color: color(text-inverse);
    cursor: pointer;
    box-shadow: var(--shadow-sm);

    &-time {
      font-size: 1.1em;
      font-weight: bold;
    }

    &-title {
      font-weight: bold;
      margin-top: 0.4em;
    }
  }
}

/* ================= Month View ================= */
.month-view {
  background: color(bg-muted);
  border: 0.1em solid color(border-muted);
  box-shadow: var(--shadow-sm);
  border-radius: 0.5em;
  overflow: hidden;
}

.month-days-header {
  background: color(bg-paper);
  border-bottom: 0.1em solid color(border-muted);
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.month-day-label {
  &:not(:last-child) {
    border-right: 0.1em solid color(border-muted);
  }
  padding: 2em;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  color: color(text-primary);
}

.month-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background: color(bg-muted);
}

.month-day-cell {
  min-width: 0;
  border: 1px solid color(bg-paper);
  min-height: 10em;
  padding: 8px;
}

.month-day-number {
  width: 2.8em;
  height: 2.8em;
  border-radius: 50%;
  @include flex(row, center, center);

  &.today {
    background: color(primary-solid);
    color: color(text-inverse);
    font-weight: bold;
  }
}

.month-event {
  margin-top: 0.2em;
  padding: 0.4em 0.6em;
  border-radius: 0.3em;
  font-size: 1.1em;
  color: color(text-inverse);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
