@use "@/styles" as *;

.student {
  @include flex(column, start, center, 16px);

  &__header {
    width: 100%;
    @include flex(row, space-between, center, 16px);

    &-actions {
      @include flex(row, right, center, 16px);
    }
  }

  &__table-wrapper {
    width: 100%;
  }

  &__pagination-controls {
    width: 100%;
    margin-top: auto;
  }
}

.row-actions {
  @include flex(row, center, center, 10px);

  .row-action-button {
    @include button-base(default, small, small);
    aspect-ratio: 1 / 1;

    // &--view {
    // }
  }
}

@media (max-width: 768px) {
  .student {
    max-width: 480px;
    &__header {
      flex-direction: column;
    }

    &__filters {
      width: 100%;
    }
  }

  .row-actions {
    justify-content: end;
  }
}
