.chat-message {
  display: flex;
  margin: 4px 0;

  &--me {
    justify-content: flex-end;
  }

  &--other {
    justify-content: flex-start;
  }

  &__container {
    display: flex;
    flex-direction: column;

    display: flex;
    flex-direction: column;
    max-width: 70%; // giới hạn chiều rộng của bubble
    word-break: break-word; // xuống dòng khi vượt width
    white-space: normal; // cho phép xuống dòng bình thường
  }

  &__content {
    padding: 8px 12px;
    // width: 100%;
    // max-width: 70%;
    // word-wrap: break-word;
    border-radius: 16px 4px 4px 16px;
    font-size: 14px;
    // position: relative;
    margin: 2px 0;
    background-color: #f1f0f0;
    color: #000;

    overflow-wrap: break-word;
    word-break: break-all;
    white-space: normal;

    &--me {
      background-color: #4a90e2;
      color: #fff;
      margin-left: auto;
    }

    &--first {
      border-top-right-radius: 16px;
    }

    &--last {
      border-bottom-right-radius: 16px;
    }
  }

  &__deleted {
    font-style: italic;
    color: #888;
  }

  &__avatar {
    margin-right: 8px;

    &-img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  &__sender-name {
    font-size: 12px;
    color: #555;
    margin-bottom: 2px;
  }
}
