.combo-chart {
  //   background-color: var(--color-bg-paper);
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);

  .recharts-wrapper {
    width: 100%;
    height: 100%;
  }

  & .empty {
    padding: 32px;
    text-align: center;
    // color: var(--color-text-secondary);
  }
}
