@use "@/styles" as *;

.loading {
  @include size(100%);
  display: grid;
  place-items: center;
  padding: 40px;
}

.spinner {
  @include size(40px);
  border: 4px solid color(border-muted);
  border-top-color: color(primary-solid);
  border-radius: 50%;

  animation: spin-smooth 1.4s infinite cubic-bezier(0.33, 0.1, 0.67, 0.9);

  will-change: transform;
}

@keyframes spin-smooth {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
