@use "@/styles" as *;

.login {
  @include flex(column, center, center);
  padding: 10px;
  background: linear-gradient(135deg, color(bg-default), color(primary-subtle));

  box-sizing: border-box;
  // Background pattern
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("@/assets/background/pattern-bg.png") repeat;
    opacity: 0.8;
    background-position: top left;
    background-size: auto;
    content: "";
  }

  &__form {
    width: 100%;
    max-width: 900px;
    z-index: 1;
    display: flex;
    border-radius: 12px;
    box-shadow: var(--shadow-lg);
    overflow: hidden;

    &-left {
      width: 50%;
    }

    &-right {
      width: 50%;
    }
  }

  &__theme {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}

@include respond-to(tablet) {
  .login__form {
    width: 100%;
    max-width: 400px;

    &-left {
      display: none;
    }

    &-right {
      width: 100%;
    }
  }
}
