@use "@/styles" as *;

/* ================= MODAL ================= */
.modal {
  display: flex;
  flex-direction: column;
  width: 380px;
  max-width: 90%;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid color(border-default);
  background-color: color(bg-paper);
  box-shadow: var(--shadow-lg);
  animation: fadeIn 0.18s ease-out;
  gap: 1rem;
  box-shadow: var(--shadow-lg);
}

/* ================= ANIMATION ================= */
@keyframes fadeIn {
  from {
    transform: scale(0.96);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* ================= HEADER ================= */
.header {
  @include flex(row, space-between, center);

  h3 {
    margin: 0;
    color: color(text-primary);
    font-size: 2rem;
  }

  .close-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: color(text-secondary);
    font-size: 2rem;
  }
}

/* ================= MESSAGE ================= */
.message {
  color: color(text-secondary);
  min-height: 50px;
  font-size: 1.4rem;
}

/* ================= ACTIONS ================= */
.actions {
  @include flex(row, flex-end, center, 10px);
  margin-top: 10px;

  .btn {
    padding: 10px 16px;
    border-radius: 6px;
    font-size: 1.4rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s, filter 0.2s;

    &:hover {
      filter: brightness(0.95);
    }
  }

  .primary {
    @include button-base(primary, medium, small);
  }
  .secondary {
    @include button-base(secondary, medium, small);
  }
  .default {
    @include button-base(default, medium, small);
  }
  .danger {
    @include button-base(danger, medium, small);
  }
  .success {
    @include button-base(success, medium, small);
  }
}
